body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #474b4f; /* somewhat dark grey */
}

/* set color for links */
.green-link {
    color: #61892f; /* Sets the text color to green */
}

.green-link:hover {
    color: #86c232; /* Changes color on hover */
}

.impressum-link {
    color: darkgray; /* Sets the text color to gray */
    text-decoration: none;
}

.impressum-link:hover {
    color: white; /* Changes color on hover */
}

/* Navigation Bar */
nav {
    width: 100%;
    overflow: hidden; /* Prevents content overflow */
}

#home {
    background-color: #222629/* #7600bc; */;
    adding-bottom: 1cm;
    padding: 10px 20px; /* Add padding to prevent cropping */
    box-sizing: border-box; /* Ensure padding is included in total width */
    /*
    margin-left:-1cm;
    margin-right:-1cm;
    margin-top:-1cm;
    padding-top: 2cm;
    */
    padding-bottom: 2cm;
    height: 5mm;
    box-sizing: border-box;
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap */
    align-items: center; /* Center items vertically */
}


.home-btn {
    border: 1px solid #61892f;/* #333333;*/
    background-color: #61892f;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
}

.home-btn:hover {
    background-color: white;
    border: 1px solid #86c232;
    color: #61892f;
    cursor: pointer;
}

.topmenu {
    color: #61892f;
    margin: 0 10px;  /* Remove padding and add margin */
    padding: 0;      /* No padding to keep menu items aligned */
    font-size: 20px;
    text-decoration: none;
}

.topmenu:hover {
    color: #86c232;
    font-weight: bold;
    text-decoration: underline;
}

.topdiv {
    float: right;
}

.profile_name {
    float: left;
    color: lightseagreen;
    font-size: 30px;
}

/* About Me Section */
.container {
    display: flex;  /* Flex display for the welcome section */
    flex-direction: row; /* Row direction for larger screens */
    align-items: center;
    max-width: 800px;
    margin: 20px auto; /* Center it in the available space */
    margin-top: 60px; 
    padding: 20px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    background-color: #474b4f;
    border-radius: 8px;
    color: white;
}

.profile_image {
    width: 380px;
    max-width: 380px;  /* Ensure the image doesn’t get too large */
    margin-right: 20px; /* Space between image and text */
}

.welcome-text {
    flex-grow: 1;
    margin-left: 50px;
    margin-right: 0px;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .container {
        flex-direction: column; /* Stack items in column direction */
        align-items: center;    /* Center items */
    }

    .profile_image {
        margin-right: 0;      /* Remove right margin on smaller screens */
        margin-bottom: 20px;  /* Add space below image */
        width: 80%;           /* Make image wider */
    }
}


/* Projects */

.projects{
   margin-top: 50px;
   padding-top: 70px; 
   background-color: #222629;
}

.all_projects {
  margin-top: 30px; 
  margin-left:100px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.projects h2 {
  text-align: center;
  font-size: 50px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
  color: white;
} 

.project {
  border: 1px solid gray;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 30px;
  box-shadow: 0 3px 10px gray;
  margin-right: 20px;
  margin-left: 20px;
}

.project img {
  height: 100px;
  align-items: center;
  border-radius: 6px;
}

.project h6 {
  align-items: center;
  font-size: 25px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
  color: white;
} 

.project p {
  align-items: center;
  font-size: 15px;
  color: #6b6e70;
  margin-block-start: 5px;
  margin-block-end: 5px;
} 



/* Blogposts in Overview */

.blogposts{
   margin-top: 50px; 
}

.blogposts h2 {
  text-align: center;
  font-size: 50px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
  color: white;
} 

.all_posts {
  margin-top: 30px; 
  margin-left:100px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.post {
  border: 1px solid gray;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  padding: 10px;
  width: 2in;
  font-size: 30px;
  /* box-shadow: 0 3px 10px gray; */
  margin-right: 20px;
  margin-left: 20px;
}

.post img {
  height: 100px;
  align-items: center;
  border-radius: 6px;
}

.post h6 {
  align-items: center;
  font-size: 25px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
  color: white;
} 

.post p {
  align-items: center;
  font-size: 15px;
  color: #6b6e70;
  margin-block-start: 5px;
  margin-block-end: 5px;
} 

/* Blogposts in full detail */

/* Dark variant */

.blog-container-dark {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;                   /* Flex display for container */
  width: 100%;                    /* Full width for the container */
  margin-top: 100px;
  margin-bottom: 50px;
  background-color: #222629;      /* Background color */
  color: white;                    /* Header text color */
  display: flex;                   /* Use flexbox for layout */
}

/* Margin column styling */
.margin-column-dark {
  padding-left: 100px;            /* Control left padding */
  display: flex;                   /* Making it a flex container to align items */
  flex-direction: column;          /* Stack items vertically */
}

.margin-column-dark h2 {
  margin: 0;                      /* Remove margin */
  font-size: 30px;                /* Font size for larger screens */
}

.margin-column-dark h3 {
  margin: 0;                      /* Remove margin */
  margin-top: 20px; 
  font-size: 20px;                /* Font size for larger screens */
}

.margin-column-dark .img {
  margin-top: 200px;               /* Space above the margin image */
  max-width: 200px;
}

/* Main content container */
.post-dark {
  flex: 2;                        /* Content takes the remaining space */
  display: flex;                  /* Flex display */
  flex-direction: column;         /* Stack content vertically */
  padding: 20px;   
  margin-left: 120px;               /* Add padding */
}

/* Paragraph styling */
.paragraph-dark {
  background: rgba(255, 255, 255, 0.1); /* Slight background for paragraphs */
  padding: 10px;                    /* Padding for paragraphs */
  margin: 10px 0;                  /* Space between individual paragraphs */
  border-radius: 11px;             /* Rounded corners */
  margin-right: 50px;
}

/* Image styling for the intext image */
.intext-img-dark img {
  border-radius: 11px; 
  max-width: 300px;                 /* Responsive image for intext */
  height: auto;                    /* Maintain aspect ratio */
  display: block;                  /* Block-level to allow margin */
  margin: 10px auto;              /* Center align with some spacing */
}

/* Margin image styling */
.margin-column-dark .img img {
  border-radius: 11px;
  max-width: 100%;                 /* Make margin images responsive */
  height: auto;                    /* Maintain aspect ratio */
  display: block;                  /* Block-level to keep layout */
}


/* light variant */

.blog-container-light {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;                   /* Flex display for container */
  width: 100%;                    /* Full width for the container */
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #474b4f;       /* Background color */
  color: white;                    /* Header text color */
  display: flex;  
}

/* Margin column styling */
.margin-column {
  padding-left: 100px;            /* Control left padding */
  display: flex;                   /* Making it a flex container to align items */
  flex-direction: column;          /* Stack items vertically */
}

.margin-column h2 {
  margin: 0;                      /* Remove margin */
  font-size: 30px;                /* Font size for larger screens */
}

.margin-column h3 {
  margin: 0;                      /* Remove margin */
  margin-top: 20px; 
  font-size: 20px;                /* Font size for larger screens */
}

.margin-column .img {
  margin-top: 200px;               /* Space above the margin image */
  max-width: 200px;
}

/* Main content container */
.post-light {
  flex: 2;                        /* Content takes the remaining space */
  display: flex;                  /* Flex display */
  flex-direction: column;         /* Stack content vertically */
  padding: 20px;   
  margin-left: 120px;               /* Add padding */
}

/* Paragraph styling */
.paragraph-light {
  background: rgba(255, 255, 255, 0.1); /* Slight background for paragraphs */
  padding: 10px;                    /* Padding for paragraphs */
  margin: 10px 0;                  /* Space between individual paragraphs */
  border-radius: 11px;             /* Rounded corners */
  margin-right: 50px;
}

/* Image styling for the intext image */
.intext-img img {
    border-radius: 11px;
    max-width: 500px; /* Responsive image for intext */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Block-level to allow margin */
    margin: 10px auto; /* Center align with some spacing */
}

.caption {
    text-align: center; /* Center the caption */
    font-size: 0.9em;
    color: white; /* Styling for caption */
    margin-top: 5px; /* Optional: add space above the caption */
}

/* Margin image styling */
.margin-column .img img {
  border-radius: 11px;
  max-width: 100%;                 /* Make margin images responsive */
  height: auto;                    /* Maintain aspect ratio */
  display: block;                  /* Block-level to keep layout */
}

/* Responsive Design for blog posts on full length */
@media (max-width: 600px) {
  #blog-post1, #blog-post2, #blog-post3, #blog-post4 {
    flex-direction: column;        /* Stack everything vertically */
  }

  .blog-container-dark, .blog-container-light {
    flex-direction: column;        /* Stack header and content in a single column */
    align-items: center;           /* Center the contents in smaller screens */
  }

  .margin-column-dark, .margin-column {
      padding-left: 0;              /* Remove left padding for smaller screens */
      text-align: center;           /* Center align text */
  }

  .margin-column-dark h2 {
    font-size: 30px;              /* Adjust font size for smaller screens */
    margin-bottom: 20px;          /* Space below the headline */
  }

  .margin-column h2 {
    font-size: 30px;              /* Adjust font size for smaller screens */
    margin-bottom: 20px;          /* Space below the headline */
  }

  .margin-column-dark .img {
    margin-top: 10px;             /* Reduce margin for smaller screens */
  }

  .margin-column .img {
    margin-top: 10px;             /* Reduce margin for smaller screens */
  }

  .post-dark {
    width: 90%;                    /* Make post content responsive */
  }

  .post-light {
    width: 90%;                    /* Make post content responsive */
  }
}



/* Skills on About page */

.skills{
   margin-top: 0px; 
   padding-top: 70px; 
   padding-left: 70px;
   background-color: #222629;
   padding-bottom: 70px; 
}

.all_skills {
  margin-top: 30px; 
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

.skills h2 {
  text-align: center;
  font-size: 50px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
  color: white;
} 

.skill {
  border: 1px solid gray;
  display: block;
  border-radius: 6px;
  text-align: center;
  margin: 50px;
  margin-right: 30px;
  margin-left: 30px;
  padding: 10px;
  width: 1.3in;
  font-size: 30px;
  box-shadow: 0 3px 10px gray;
}

.skill img {
  height: 100px;
  align-items: center;
  max-width: 120px;
  border-radius: 6px;
}

.skill h6 {
  align-items: center;
  font-size: 25px;
  margin-block-start: 8px;
  margin-block-end: 5px;
  font-weight: bold;
  color: white;
} 

.skill p {
  align-items: center;
  font-size: 15px;
  color: #6b6e70;
  margin-block-start: 5px;
  margin-block-end: 5px;
} 


/* style awards, work experience and education chronology in sync */

/* Common section styles */
section {
  margin-top: 70px;
  display: flex;                  /* Use flexbox for the section */
  flex-direction: column;         /* Stack the headline and content vertically */
}

/* Awards Section */
#about-workexperience, #about-awards {
  background-color: #474b4f;     /* Background color */
  color: white;                  /* Header text color */
}

.experience-container, .awards-container {
  display: flex;                  /* Flex display for container */
  align-items: flex-start;        /* Align items at the start */
}

.experience-container h2 {
  flex: 1;                        /* Take one column */
  text-align: left;              /* Align header left */
  font-size: 50px;               /* Font size for larger screens */
  margin: 0;                     /* Remove margin */
  padding-left: 100px; 
}

.awards-container h2 {
  flex: 1;                        /* Take one column */
  text-align: left;              /* Align header left */
  font-size: 50px;               /* Font size for larger screens */
  margin: 0;                     /* Remove margin */
  padding-left: 100px; 
}

.work-experience, .awards {
  flex: 2;                        /* Content takes two columns */
  display: flex;                  /* Flex display */
  flex-direction: column;         /* Stack awards vertically */
  padding: 20px;                 /* Add padding */
}

/* work card, Award Card */
.work, .award {
  background: rgba(255, 255, 255, 0.1); /* Slight background for awards */
  padding: 10px;                 
  margin: 10px 0;                      /* Space between individual awards */
  border-radius: 11px;             
}


/* Certificates */

#about-certs {
  background-color: #222629;     /* Background color */
  color: white;                  /* Header text color */
}

.certs-container {
  padding-top: 70px; 
  padding-bottom: 50px; 
  display: flex;                  /* Flex display for container */
  align-items: flex-start;        /* Align items at the start */
}

.certs-container h2 {
  flex: 1;                        /* Take one column */
  text-align: left;              /* Align header left */
  font-size: 50px;               /* Font size for larger screens */
  margin: 0;                     /* Remove margin */
  padding-left: 100px; 
}

.certs {
  flex: 2;                        /* Content takes two columns */
  display: flex;                  /* Flex display */
  flex-direction: column;         /* Stack awards vertically */
  padding: 20px;                 /* Add padding */
}

/* Certificate Card */
.certificate {
  background: rgba(255, 255, 255, 0.1); /* Slight background for certs */
  padding: 10px;                 
  margin: 10px 0;                /* Space between individual certs */
  border-radius: 11px;
}


/* Education Section */
#about-edu {
  background-color: #474b4f;     /* Same background for consistency */
  color: white;                 /* Text color for education section */                
}

.edu-container { 
  display: flex;                  /* Flex display for the container */
  align-items: flex-start;        /* Align items at the start */
  padding-bottom: 0px;      
}

.edu-container h2 {
  flex: 1;                        /* Take one column */
  text-align: left;              /* Align header left */
  font-size: 50px;               /* Font size for larger screens */
  margin: 0;                     /* Remove margin */
  padding-left: 100px; 
}

/* Edu-cards */
.all-edu {
  flex: 2;                        /* Content takes two columns */
  display: flex;                  /* Flex display */
  flex-direction: column;         /* Stack cards vertically */
  padding: 20px;                 /* Add padding */
}

/* Edu Card */
.edu-card {
  background: rgba(255, 255, 255, 0.1); /* Background for edu cards */
  padding: 10px;                  /* Inner padding */
  margin: 10px 0;                /* Space between individual education cards */
  border-radius: 11px;
}



/* Responsive Styles for awards, certificates, education */
@media (max-width: 600px) {
  section {
    flex-direction: column;       /* Stack everything in a column */
  }

  .experience-container, .awards-container, .edu-container, .certs-container {
    flex-direction: column;       /* Stack header and content in a single column */
  }

  .experience-container h2,
  .awards-container h2,
  .edu-container h2,
  .certs-container h2 {
    text-align: center;           /* Center headline text on small screens */
    font-size: 50px;            /* Adjust font size */
    margin-bottom: 20px;          /* Space below the headlines */
  }

  .work, .award, .edu-card, .certificate {
    width: 90%;                   /* Wider cards on smaller screens */
  }
}


/* Recommendations */

.recommendations {
  background-color: #222629;
  color: white;
  padding-top: 70px; 
  padding-bottom: 50px; 
}

.recommendations h2 {
  font-size: 50px;               /* Font size for larger screens */
  margin: 0;   
  text-align: center;                  /* Remove margin */
}

.all_recommendations {
  margin-top: 30px; 
  display: flex;
  align-items: center;
  margin-left: 100px;
  flex-direction: row;
  flex-flow: wrap;
  padding: 20px;
}

.recommendation {
  font-style: italic;
  text-align: left;
  width: 21.875rem;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1); 
  border-radius: 11px;
  box-shadow: 0 3px 10px gray;
  padding: 20px;
  margin: 10px;
  border: 1px solid gray;
  font-size: 18px;
  height:200px
}

.recommendation h5 {
  text-align: left;
  font-size: 18px;
}

.recommendation span {
  color: white;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}




/* Scroll to Top Button */

.iconbutton{
  width: 48px;
  height: 48px;
  border-radius: 100%;
  background-color: #61892f;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 3%;
  bottom: 3%;
  cursor: pointer;
}

/* Footer */

.page-footer {
  background-color: #222629;
  padding-top: 50px; 
  padding-bottom: 90px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  color: white;
}

.impressum-ref {
  padding-top: 70px; 
}